body{
    background: linear-gradient(#000B42 50%, white 50%);
    margin: 0;
    padding: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.landscape{
    width: 100%;
    margin: 0;
    padding: 0;
}